@media only screen {
    :root {
        --color-background: #f6f6f6;
        --color-background-light: #f8f9fa;
        --color-background-spotlight: #ffffff;
        --color-border: #a2a9b1;
        --drop-shadow: #00000070 0em 0.25em 11px 0px;
        --drop-shadow-light: 0px 1px 4px 2px rgb(0 0 0 / 10%);
        --content-width: 50em;
        --menu-width: 300px;
        --margin-left: auto;
        --margin-right: auto;
        --margin-top: 7.5rem;
        --padding-sides: 3em;
        --padding-top: 2rem;
        --head-margin-top: 4.75em;
        --page-margin-top: 0.5em;
    }
    body {
        background-color: var(--color-background);
    }
    #left-navigation, #right-navigation {
        margin-top: var(--head-margin-top);
    }
    #left-navigation {
        margin-left: 0;
    }
    #p-personal ul {
        padding-left: 0;
        float: right;
    }
    #p-personal {
        top: unset;
        right: unset;
        width: calc(100% - 2*var(--padding-sides));
    }
    #pt-notifications-notice {
        height: 5em;
    }
    #mw-head {
        clear: left;
        left: 0;
        margin-top: var(--page-margin-top);
        margin-left: var(--margin-left);
        margin-right: var(--margin-right);
        padding-right: var(--padding-sides);
        padding-left: var(--padding-sides);;
        width: var(--content-width);
    }
    #mw-head.ul {
        background-color: var(--color-background);
    }
    #mw-panel {
        height: auto;
        padding-left: 0;        
    }
    #mw-panel .portal .body {
        background-image: none;
        border-top: 0.5px solid #bfbfbf; 
    }
    #mw-panel #p-logo + .portal .body {
        border-top: none;
    }
    #mw-page-base {
        display: none;
    }
    .mw-body .mw-indicators {
        z-index: 1001;
    }
    #p-search {
        margin-right: 0;
    }
    #content {
        width: var(--content-width);
        margin-top: var(--margin-top);
        background-color: var(--color-background);
        margin-right: var(--margin-right);
        margin-left: var(--margin-left);
        padding-top: var(--padding-top);
        padding-right: var(--padding-sides);
        padding-left: var(--padding-sides);
        border: none;
    }
    #content table {
        text-align: left;
    }
    #toc {
        background-color: var(--color-background-light);
        padding: 1em;
        position: fixed;
        display: block;
        top: 1em;
        right: 1em;
        height: auto;
        width: var(--menu-width);
        max-height: 93vh;
        min-width: min-content;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 1010;
    }
    #toc.tochidden {
        height: auto;
    }
    .toc h2 {
        padding: 0;
    }
    .vector-menu-tabs li {
        background-image: none;
    }
    .vector-menu-tabs a {
        background-image: none;
    }
    .vector-menu-tabs {
        background-image: none;
    }
    .vector-menu-tabs .selected {
        background-color: transparent;
        border-bottom: 1px solid black;
    }
    .vector-menu .menu {
        background-color: var(--color-background-light);
        box-shadow: var(--drop-shadow);
        border: none;
    }
    .vector-menu-tabs a, #mw-head .vector-menu h3 {
        background-image: none;
    }
    .vector-menu-dropdown:hover {
        background-color: var(--color-background-spotlight);
    }
    .vector-menu-dropdown:hover .vector-menu-content {
        background-color: var(--color-background-spotlight) !important;
        border: none !important;
    }
    #firstHeading {
        position: sticky;
        padding-top: 0.125em;
        padding-bottom: 0.125em;
        top: 0;
        background-color: var(--color-background);
        z-index: 1000;
    }
    p {
        text-align: left;
        font-size: 1.125em;
    }
    .gallerytext p {
        text-align: left;
    }
    #footer {
        margin-right: var(--margin-right);
        margin-left: var(--margin-left);
        padding: var(--padding-sides);
        width: var(--content-width);
    }
    #footer-icons {
        float: left;
    }
    #footer-icons li:first-of-type {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1600px) {

    /* LARGE: Content justified left */

    :root {
        --margin-left: calc(10em + 1em);
    }
}

@media only screen and (max-width: 1420px) {

    /* MEDIUM: Left sidebar is hidden */

    :root {
        --margin-left: 0;
    }
    #mw-panel {
        display: none;
    }
}

@media only screen and (max-width: 1220px) {

    /* SMALL: TOC is hovering */

    :root {
        --margin-right: 0;
    }
    #toc {
        top: unset;
        bottom: 1em;
        max-height: calc(100vh - 20em);
        box-shadow: var(--drop-shadow);
    }
}

@media only screen and (max-width: 900px) {

    /* TINY: Content is full width*/

    :root {
        --content-width: auto;
    }
}